body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #000000;
}
.genbutton{
    background-color: #000000;
    transition: 0.2s all ease-in-out;
    border: 2px solid #000000;
}
.genbutton:hover{
    border: 2px solid #F2D059;
    transition: 0.3s all ease-in-out;
    transform: scale(1.03);
}